.filterContainer {
  text-align: center;
  margin: auto;
}
span {
  padding-left: 5px;
}
.filter {
  text-decoration: none;
}
.filter:hover {
  color: hotpink;
}

.activeFilter {
  pointer-events: none;
  text-decoration: none;
  color: black;
}
