.addTodoInput {
  line-height: 2em;
  width: 40%;
}

.addTodoButton {
  line-height: 1.5em;
  width: 25%;
}

@media screen and (max-width: 800px) {
  .addTodoInput {
    width: 60%;
  }

  .addTodoButton {
    width: 30%;
  }
}

@media screen and (max-width: 500px) {
  .addTodoInput {
    width: 80%;
  }

  .addTodoButton {
    width: 40%;
  }
}
