.addTodoContainer {
  text-align: center;
  padding-top: 16px;
  font-size: 2em;
  font-weight: bold;
}

.todosContainer {
  padding: 0;
}
.todosContainer li {
  padding: 14px;
  list-style-type: none;
  margin: auto;
  max-width: 40%;
}
.todosContainer li * {
  padding: 14px;
}
span.closeButton {
  float: right;
  padding: 0 5px;
}
span.closeButton:hover {
  background-color: gray;
  cursor: pointer;
}
.unauthorized {
  text-align: center;
}
.linkToSignIn {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .todosContainer li {
    max-width: 60%;
  }
}
@media screen and (max-width: 800px) {
  .todosContainer li {
    max-width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .todosContainer li {
    max-width: 100%;
  }
}
